### IntelliJ IDEA ###
# Arquivos de configuração do IntelliJ IDEA
.idea/
out/
target/
build/
*.iml
*.ipr
*.iws
.idea/
*.class
*.iml
*.iws
# Logs
*.log
bin/
.settings/
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
